.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 87% 5%;
  width: 100%;
  height: 100vh;
}

.header {
  background-image: linear-gradient(to right , #A107ED , #F60F46, #F79E02);
}

.center-div {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
}

.footer {
  background-image: linear-gradient(to right , #DE5003, #CEBC29);
}

.sidepanel {
  background-image: linear-gradient(to bottom , #B601A5, #CB0068 , #DF012B);
}

.maincontent {
  background-image: linear-gradient(to right , #eedce5, #EED8EF, #E3D5F7);
}
