.landing-page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #a107ed, #f60f46, #f79e02);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-div {
  height: auto;
  width: 60%;
  border-radius: 1%;
  background-image: linear-gradient(to right , #eedce5, #EED8EF, #E3D5F7);
  display: flex;
}

.wrapper-div {
  height: 100%;
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  padding-left: 10%;
}

.image-bg {
  flex: 0 0 50%;
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-bg {
  flex: 0 0 50%;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  width: 80%;
  height: 80%;
  margin-top: 15%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(13, 1, 71);
  font-weight: bold;
  font-size: 1.8vw;
}
.input-boxes-groups {
  width: 100%;
  height: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  width: 65%;
  margin: 2%;
  height: 15%;
  border-radius: 25px;
  padding-left: 8%;
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(236, 236, 236);
  font-size: 1vw;
}

.login-button {
  border-radius: 25px;
  outline: none;
  border: none;
  height: 15%;
  width: 80%;
  margin-top: 8%;
  background-color: rgb(13, 1, 71);
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  color: white;
}

.heading-group {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-tag {
  margin-top: 4%;
  text-decoration: underline;
  color: blue;
  font-size: 1vw;
}

p {
  margin: 0px;
  padding: 0px;
  color: red;
  font-size: 1vw;
  margin-bottom: 5px;
}
